.pagination-box {
    display: flex;
    align-items: center;
    gap: 24px;
}

.round-left-button {
    width: 113.19px;
    height: 26.67px;

    background-image: url(/public/images/PaginationPrevious.png);
    background-size: 100% 100%;

    cursor: pointer;
}

.round-right-button {
    width: 84.14px;
    height: 26.67px;

    background-image: url(/public/images/PaginationNext.png);
    background-size: 100% 100%;

    cursor: pointer;
}

.page-list {
    display: flex;
    gap: 16px;
}

.page {
    color: rgba(138, 146, 166, 1);

    font-size: 14px;
    font-weight: 400;
    line-height: 20px;

    cursor: pointer;
}

.page.active {
    color: rgba(64, 64, 64, 1);
    font-weight: 700;

    cursor: default;
}