.login-id-password-box{
    display: flex;
    width: 280px;
    margin: 0 15px;
}

.login-id-box
{
    display: flex;
    flex-direction: column;

    width: 265px;
    height: 80px;
    gap: 15px;
}

.login-password-box .login-in-id-text
{
    font-size: 16px;
    font-weight: 540;
}

.login-in-id-box
{
    display: flex;
    height: 30px;

    border-radius: 5px;
    border: 1px solid #A7A7A7;
    align-items: center;
}

.login-id-password-box input{
    flex: 1;

    background: none;
    border: none;
    outline: none;

    border: 1px solid rgba(238, 238, 238, 1);
    border-radius: 8px;
    padding: 6px 16px;

    background-color: rgba(255, 255, 255, 1);

    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

input::placeholder {
    color: #A7A7A7;
}


.login-id-password-box .message {
    margin-top: -4px;
    height: 16px;

    font-size: 13px;
    font-weight: 400;
}

.message.primary {
    color: rgba(0, 191, 122, 1);
}

.message.error {
    color: rgba(255, 84, 64, 1)
}