/* CategorySearch.css */
.category-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px gray;
}

.categories {
    display: flex;
    gap: 10px;
    align-items: center;
}

.categories label {
    margin-right: 10px;
    font-weight: bold;
}

.category-button {
    padding: 8px 16px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar {
    display: flex;
    align-items: center;
}

.search-bar input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.search-bar button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-left: 8px;
}

.search-bar button img {
    width: 16px;
    height: 16px;
}

.category {
    margin-right: 1200px;
}