.categoryHead {
    margin-top: 45px;
    margin-left: 100px;
    margin-right: 95px;
}

.category {
    font-size: 20px;
}

.category-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid gray;
}


.categories {
    display: flex;
    gap: 25px;
    align-items: center;
}

.category-button {
    width: 120px;
    height: 39.47px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
    white-space: nowrap
}

.search-bar button img {
    width: 16px;
    height: 16px;
}

#search {
    width: 278.26px;
    height: 32.29px;
    position: relative;
    display: flex;
}

#search input {
    width: 100%;
    border-radius: 5px;
}

#search button {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 5px;
    width: 18px;
    height: 18px;
    background-image: url('/public/images/searchIcon.png');
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.mid {
    justify-content: space-between;
    align-items: center;
}

.popularTag {
    margin-left: 100px;
}

.popularTags1 {
    display: flex;
    gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
    white-space: nowrap;
}

.popularTags2 {
    display: flex;
    gap: 30px;
    margin-left: 100px;
    margin-right: 100px;
    white-space: nowrap
}


.popularTag-button1 {
    width: 145px;
    height: 30px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 5px;
}

.popularTag-button2 {
    width: 145px;
    height: 30px;
    background-color: #f8f8f8;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 5px;
    margin-bottom: 10px;
}


.td-number,
.td-author,
.td-date,
.td-views {
    width: 50px;
    
    text-align: center;
}

.td-title {
    width: 500px;

    text-align: center;
}

.bottom {
    display: flex;
    justify-content: space-between;
}

.pagination {
    display: flex;
    justify-content: space-between;
    gap: 31px;
    margin-right: 648.94px;
    margin-left: 648px;
    margin-bottom: 45px;
}

.post-on {
    width: 60px;
    height: 28px;
    border-radius: 8px;
    margin-right: 95px;
    background-color: black;
    color: white
}

